@font-face {
    font-family: Myfont;
    src: url(Helvetica_LT_43_Light_Extended.ttf);
}

@font-face {
    font-family: Myfontdos;
    src: url(Gill_Sans_MT_Bold.ttf);
}



video { 
    position: relative;
    top: 450px;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url(../img/Ref_9271589.png) no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#polina { 

  font-weight:100; 
  position: absolute;
  color: white;
  padding: 2rem;
  width: 100%;
  font-size: 1.0rem;
  top: 132px;
  left: 0px;
  height: 0px;
}


#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}

#polina button:hover { 
   background: rgba(0,0,0,0.5);
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }


@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(../img/Ref_9271589.png) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

.icon-bar {
  color: black;
}

.carousel-inner .active.left {
    left: -16.6%;
}
.carousel-inner .next {
    left: 16.6%;
}
.carousel-control.left, .carousel-control.right {
    background-image:none; 
}

.agrandar {
  border: 1px solid #fff; 
  color: #fff; 
  transition: padding 0.5s; 
  -webkit-transition: padding 0.5s;
}

.agrandar:hover {
  padding-left: 60px;
  padding-right: 60px;
}

.agranda-imagen:hover {
  width: 200px;
}

.agranda-icono {
  color: #000; 
  background-color: #fff; 
  border-color: #fff; transition: padding 0.5s; 
  -webkit-transition: padding 0.5s;
}

.agranda-icono:hover {
  padding: 50px;
  font-size: 50px;
}



